* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10px;
    color: #caa3ee;
    border-radius: 20px;
}

window#waybar {
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-right {
	background-color: #2a2a2a;
    margin: 2px 10px 0 0;
}
.modules-center {
	background-color: transparent;
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 5px;
	background-color: #2a2a2a;
}

/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: #a562e2;
}

#workspaces button.active {
	background-color: #a562e2;
    color: black;
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
    color: #caa3ee
}
#mode {
    color: #cc3436;
    font-weight: bold;
}
#custom-power {
    background-color: #caa3ee;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
    color: black;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
  color: #cc3436;
}
