* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10px;
    color: #caa3ee;
    border-radius: 20px;
}

window#waybar {
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
}

.modules-center {
	background-color: transparent;
    margin: 0;
}

#custom-cava {
    color: #caa3ee
}
