window {
  margin: 0px;
  border: 1px solid #caa3ee;
  background-color: rgba(12, 12, 12, 0.4);
  font-family: JetBrains Mono Nerd Font;
  border-radius: 7px;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: rgba(68, 71, 90, 0.4);
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#text:selected {
  background-color: transparent;
}

#img:selected {
  background-color: transparent;
}

#entry:selected {
  background-color: rgba(16, 16, 16, 0.1);
  border-radius: 7px;
  border: 1px solid #caa3ee;
}